.StoriesPage{
  display: flex;
  flex-flow: row wrap;

  &-Title{
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
    color: #37383c;
  }
  &-Main{
    flex: 1 0 400px;
    position: relative;
    padding: 0 20px;
    max-width: 100%;
  }

  &-Text{
    margin-bottom: 40px;

    &Span{
      font-size: 17px;
      line-height: 2;
      cursor: pointer;

      &_hasTranslation:hover{
        background-color: #bbdbff;
      }

      &_added{
        background-color: hsla(53,79%,75%,.6);
      }
      &_selected{
        background-color: #bbdbff;
      }
    }
  }

  &-Complete{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    &Button{
      background-color: #2582e7;
      color: #fff;
      padding: 8px 16px;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
    }
  }

  &-Popover{
    position: absolute;
    z-index: 10;
    max-width: calc(100% - 20px);
    opacity: 0;
    transition: opacity 0.1s;
    transform: translateX(-50%);
    margin-top: 7px;
    padding: 10px 0 0 0;

    &_left{
      transform: translateX(-20px);

      .ContentView-PopoverDiamond{
        left: 20px;
      }
    }
    &_right{
      transform: translateX(calc(-100% + 20px));

      .ContentView-PopoverDiamond{
        right: 5px;
        left: unset;
      }
    }

    &Diamond{
      background-color: #fff;
      position: absolute;
      border: none;
      top: 2px;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
      transform-origin: center;
      box-sizing: border-box;
      box-shadow: rgba(0, 0, 0, 0.12) 2px -2px 4px 0,
      rgba(0, 0, 0, 0.06) -1px -1px 12px 0;
      width: 16px;
      height: 16px;
    }

    &Translations{
      background-color: #fff;
      overflow: visible;
      min-width: 200px;
      box-shadow: 0 3px 7px rgba(0,0,0,.2);
      border-radius: 5px;
      display: flex;
      flex-direction: column;
    }

    &Translation{
      z-index: 101;
      display: flex;
      flex-direction: row;
      align-items: center;
      transition: all .2s ease;
      min-height: 40px;
      padding: 0 10px;
      background-color: #fff;
      cursor: pointer;

      &:first-child{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      &:last-child{
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      &:hover{
        background-color: #edf6ff;
      }

      &_added{
        background-color: #2582e7;
        color: #fff;
        cursor: default;

        &:hover{
          background-color: #2582e7;
          color: #fff;
        }
      }

      &Confidence{
        width: 25px;
        height: 5px;
        border-radius: 1px;
        background-color: #b8c3cb;
        margin-left: 5px;
        margin-right: 15px;
      }

      &ConfidenceFilled{
        height: 100%;
        width: 100%;
        border-radius: 1px;
        background-color: #7e919f;
      }

      &Text{
        flex-grow: 1;
        text-align: left;
        font-size: 16px;
        margin-bottom: 2px;
      }

      &Delete{
        flex: 0 0 12px;
        height: 12px;
        width: 12px;
        margin-left: 25px;
        cursor: pointer;

        svg{
          height: 100%;
          width: 100%;
          display: block;
          fill: #fff;
          opacity: 0.6;
          transition: opacity 0.3s;

          &:hover{
            opacity: 1;
          }
        }
      }

    }
  }

  &-Words{
    flex: 0 0 340px;
    border: 1px solid #efefef;
    padding: 20px 10px;
    margin: 0 auto;

    &Title{
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 5px;
    }

    &Item{
      padding: 5px 20px;
      text-align: center;
      color: #37383c;
    }
  }
}