.MainLayout{
  position: relative;
  display: flex;
  flex-direction: column;
  &-Main{
    padding-top: 70px;
    padding-bottom: 50px;
    flex: 1 0 auto;
    @media screen and (max-width: 768px){
      padding-top: 50px;
    }
  }
}