.TrainingResult {
  &-Title {
    margin-bottom: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  &-Name {
    font-size: 20px;
    font-weight: 700;
    color: #37383c;
  }
  &-Card {
    border: 1px solid #efefef;
    padding: 40px 40px;
    text-align: center;
    font-size: 32px;
    color: #37383c;
  }
  &-Words {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    margin: 0 -4px;
  }
  &-Word {
    border-radius: 5px;
    margin: 8px 4px;
    width: calc(50% - 8px);
    padding: 11px 20px 15px;
    transition-property: color, background-color, border-color;
    transition-duration: 0.3s;
    cursor: not-allowed;
    font-size: 16px;
    line-height: 18px;
    color: #37383c;
    @media screen and (max-width: 600px){
      width: calc(100% - 8px);
      display: flex;
      justify-content: center;
    }
    &Original {
      font-weight: 700;
      font-size: 18px;
    }
    &Dash {
      margin: 0 4px;
    }
    &Translation {

    }
    &_correct {
      background-color: #dcf5eb;
      color: #28c38a;
    }
    &_wrong {
      background-color: #fce4df;
      color: #ed593b;
    }
  }
  &-Buttons {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    margin: 0 -4px;

    @media screen and (max-width: 600px){
      flex-flow: column-reverse;
    }
  }
  &-Button {
    border-radius: 5px;
    margin: 8px 4px;
    width: calc(50% - 8px);
    padding: 11px 20px 15px;
    cursor: pointer;
    transition-property: background-color, border-color;
    transition-duration: 0.3s;
    text-align: center;
    font-size: 18px;
    @media screen and (max-width: 600px){
      width: calc(100% - 8px);
      justify-content: center;
    }
    &Text {
      color: inherit;
      font-size: inherit;
      line-height: 1em;
      text-align: inherit;
      text-decoration: inherit;

      transition-property: color;
      transition-duration: 0.3s;
    }
    &_continue {
      background-color: #2582e7;
      border-color: #2582e7;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      svg {
        display: block;
        height: 18px;
        width: 18px;
        margin-left: 10px;
        fill: #fff;
      }

      &:hover {
        background-color: #297cd6;
        border-color: #297cd6;
      }
    }
    &_exit {
      font-size: 14px;
      padding: 13px 20px 17px;
      text-decoration: underline;
      color: #2582e7;

      &:hover {
        text-decoration: none;
        color: #2582e7;
      }
    }
  }
}