.ContentIndex{
  &-Title{
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
    color: #37383c;
  }

  &-Cards{
    display: flex;
    flex-flow: row wrap;
    margin: 0 -10px;
    justify-content: flex-start;
    align-items: stretch;
  }
}